<a href="https://colab.research.google.com/github/AdrianAlbrecht/Collab/blob/main/Biolog_naprawa_pliku.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
import pandas as pd
import glob

In [27]:
# Ścieżka do katalogu zawierającego pliki CSV
sciezka_do_katalogu = ''
# Zidentyfikuj pliki CSV w danym katalogu
pliki_csv = glob.glob(sciezka_do_katalogu + '*.csv')

In [28]:
ramka_danych = pd.concat((pd.read_csv(plik, sep=";", header=None) for plik in pliki_csv), ignore_index=True)
ramka_danych

,0,1,2,3,4,5,6,7,8,9,...,245,246,247,248,249,250,251,252,253,254
0,Aeluropus.lagopoides (MK622397.1),18,A,G,G,G,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Aeluropus.lagopoides (MK622397.1),18,A,G,G,G,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Aeluropus.lagopoides (MK622397.1),244,A,G,G,G,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Aeluropus.lagopoides (MK622397.1),1681,A,G,G,G,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Aeluropus.lagopoides (MK622397.1),1746,G,C,C,C,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4226,Setaria.viridis (KT289405.1),113697,-,C,C,C,C,C,C,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4227,Setaria.viridis (KT289405.1),113698,-,G,G,T,G,G,G,G,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4228,Setaria.viridis (KT289405.1),115871,-,A,A,T,A,A,A,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4229,Setaria.viridis (KT289405.1),115872,-,A,A,A,A,A,A,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4230,Setaria.viridis (KT289405.1),116652,A,T,T,T,T,T,T,T,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
# Usuń kolumny zawierające same NaN
ramka_danych = ramka_danych.dropna(axis=1, how='all')
ramka_danych

,0,1,2,3,4,5,6,7,8,9,10,11
0,Aeluropus.lagopoides (MK622397.1),18,A,G,G,G,NaN,NaN,NaN,NaN,NaN,NaN
1,Aeluropus.lagopoides (MK622397.1),18,A,G,G,G,NaN,NaN,NaN,NaN,NaN,NaN
2,Aeluropus.lagopoides (MK622397.1),244,A,G,G,G,NaN,NaN,NaN,NaN,NaN,NaN
3,Aeluropus.lagopoides (MK622397.1),1681,A,G,G,G,NaN,NaN,NaN,NaN,NaN,NaN
4,Aeluropus.lagopoides (MK622397.1),1746,G,C,C,C,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
4226,Setaria.viridis (KT289405.1),113697,-,C,C,C,C,C,C,C,C,C
4227,Setaria.viridis (KT289405.1),113698,-,G,G,T,G,G,G,G,G,T
4228,Setaria.viridis (KT289405.1),115871,-,A,A,T,A,A,A,A,A,T
4229,Setaria.viridis (KT289405.1),115872,-,A,A,A,A,A,A,A,A,A
4230,Setaria.viridis (KT289405.1),116652,A,T,T,T,T,T,T,T,T,T

In [52]:
# Zidentyfikuj unikalne wartości w pierwszej kolumnie
unikalne_wartosci = ramka_danych.iloc[:, 0].unique()
# Stwórz słownik, gdzie klucze to unikalne wartości, a wartościami są ramki danych
ramki_danych_slownik = {wartosc: ramka_danych[ramka_danych.iloc[:, 0] == wartosc] for wartosc in unikalne_wartosci}
for klucz, ramka in ramki_danych_slownik.items():
  # Usuwamy NaN'y
  ramka = ramka.copy()
  ramka = ramka.dropna(axis=1, how='all')
  # Dzielimy na Single i Multi
  ramka['Single/Multi'] = 'Multi'
  indeksy_multi = ramka[(ramka.iloc[:, 1].diff() != 1) & (ramka.iloc[:, 1].shift(-1).diff() != 1)].index
  ramka.loc[indeksy_multi, 'Single/Multi'] = 'Single'
  # Określamy operację
  # insercja T - - - - -
  # delecja - T T T T T
  # substytucja C A A A A A
  # mixed A C T G C C C A
  ramka['Operation'] = 'Mixed'
  # Znajdź indeksy dla substytucji
  indeksy_substitution = ramka.loc[(ramka.iloc[:, 2] != '-') & (ramka.iloc[:, 3:-2].eq(ramka.iloc[:, 3], axis=0).all(axis=1))].index
  # Znajdź indeksy dla insercji
  indeksy_insertion = ramka.loc[(ramka.iloc[:, 2] != '-') & (ramka.iloc[:, 3:-2].eq("-", axis=0).all(axis=1))].index
  # Znajdź indeksy dla delecji
  indeksy_deletion = ramka.loc[(ramka.iloc[:, 2] == '-') & (ramka.iloc[:, 3:-2].eq(ramka.iloc[:, 3], axis=0).all(axis=1))].index
  # Ustaw wartość operacji dla odpowiednich wierszy w kolumnie "Operation"
  ramka.loc[indeksy_substitution, 'Operation'] = 'Substitution'
  ramka.loc[indeksy_insertion, 'Operation'] = 'Insertion'
  ramka.loc[indeksy_deletion, 'Operation'] = 'Deletion'
  print(ramka)

                                     0       1  2  3  4  5     Operation  \
0    Aeluropus.lagopoides (MK622397.1)      18  A  G  G  G  Substitution
1    Aeluropus.lagopoides (MK622397.1)      18  A  G  G  G  Substitution
2    Aeluropus.lagopoides (MK622397.1)     244  A  G  G  G  Substitution
3    Aeluropus.lagopoides (MK622397.1)    1681  A  G  G  G  Substitution
4    Aeluropus.lagopoides (MK622397.1)    1746  G  C  C  C  Substitution
..                                 ...     ... .. .. .. ..           ...
258  Aeluropus.lagopoides (MK622397.1)  113507  A  G  G  G  Substitution
259  Aeluropus.lagopoides (MK622397.1)  113901  A  T  T  T  Substitution
260  Aeluropus.lagopoides (MK622397.1)  113957  C  T  T  T  Substitution
261  Aeluropus.lagopoides (MK622397.1)  114657  A  G  G  G  Substitution
262  Aeluropus.lagopoides (MK622397.1)  114778  G  A  A  A  Substitution

    Single/Multi
0         Single
1         Single
2         Single
3         Single
4         Single
..           ...
258       Single
259       Single
260       Single
261       Single
262       Single

[263 rows x 8 columns]
                                     0       1  2  3  4  5     Operation  \
263  Aeluropus.littoralis (MT040977.1)    1465  G  C  C  C  Substitution
264  Aeluropus.littoralis (MT040977.1)    1563  -  T  T  T      Deletion
265  Aeluropus.littoralis (MT040977.1)    2425  T  C  C  C  Substitution
266  Aeluropus.littoralis (MT040977.1)    3760  -  A  A  A      Deletion
267  Aeluropus.littoralis (MT040977.1)    4194  -  G  G  G      Deletion
..                                 ...     ... .. .. .. ..           ...
451  Aeluropus.littoralis (MT040977.1)  112269  C  G  G  G  Substitution
452  Aeluropus.littoralis (MT040977.1)  112512  G  A  A  A  Substitution
453  Aeluropus.littoralis (MT040977.1)  112625  T  G  G  G  Substitution
454  Aeluropus.littoralis (MT040977.1)  112787  T  C  C  C  Substitution
455  Aeluropus.littoralis (MT040977.1)  112884  T  C  C  C  Substitution

    Single/Multi
263       Single
264       Single
265       Single
266       Single
267       Single
..           ...
451       Single
452       Single
453       Single
454       Single
455       Single

[193 rows x 8 columns]
                                    0       1  2  3  4  5  6     Operation  \
456   Aeluropus.sinensis (MW194080.1)     586  T  C  C  C  C  Substitution
457   Aeluropus.sinensis (MW194080.1)     985  G  A  A  A  A  Substitution
458   Aeluropus.sinensis (MW194080.1)    1707  C  T  T  T  T  Substitution
459   Aeluropus.sinensis (MW194080.1)    1710  A  G  G  G  G  Substitution
460   Aeluropus.sinensis (MW194080.1)    2152  C  A  A  A  A  Substitution
...                               ...     ... .. .. .. .. ..           ...
1153  Aeluropus.sinensis (MW194080.1)  113916  G  A  A  A  A  Substitution
1154  Aeluropus.sinensis (MW194080.1)  114201  G  A  A  A  A  Substitution
1155  Aeluropus.sinensis (MW194080.1)  114210  C  T  T  T  T  Substitution
1156  Aeluropus.sinensis (MW194080.1)  114507  A  G  G  G  G  Substitution
1157  Aeluropus.sinensis (MW194080.1)  114538  C  G  G  G  G  Substitution

     Single/Multi
456        Single
457        Single
458        Single
459        Single
460        Single
...           ...
1153       Single
1154       Single
1155       Single
1156       Single
1157       Single

[702 rows x 9 columns]
                                  0       1  2  3  4  5  6  7  8  9 10 11  \
1158  Setaria.geminata (KU291476.1)       9  C  T  T  T  T  T  T  T  T  T
1159  Setaria.geminata (KU291476.1)       9  C  T  T  T  T  T  T  T  T  T
1160  Setaria.geminata (KU291476.1)      35  C  T  T  T  T  T  T  T  T  T
1161  Setaria.geminata (KU291476.1)      47  C  T  T  T  T  T  T  T  T  T
1162  Setaria.geminata (KU291476.1)     117  A  G  G  G  G  G  G  G  G  G
...                             ...     ... .. .. .. .. .. .. .. .. .. ..
3094  Setaria.geminata (KU291476.1)  118043  G  T  T  T  T  T  T  T  T  T
3095  Setaria.geminata (KU291476.1)  118209  C  A  A  A  A  A  A  A  A  A
3096  Setaria.geminata (KU291476.1)  118240  C  G  G  G  G  G  G  G  G  G
3097  Setaria.geminata (KU291476.1)  118338  G  A  A  A  A  A  A  A  A  A
3098  Setaria.geminata (KU291476.1)  118359  A  G  G  G  G  G  G  G  G  G

         Operation Single/Multi
1158  Substitution       Single
1159  Substitution       Single
1160  Substitution       Single
1161  Substitution       Single
1162  Substitution       Single
...            ...          ...
3094  Substitution       Single
3095  Substitution       Single
3096  Substitution       Single
3097  Substitution       Single
3098  Substitution       Single

[1941 rows x 14 columns]
                                 0       1  2  3  4  5  6     Operation  \
3099  Setaria.italica (KF646538.1)    2281  T  C  C  C  C  Substitution
3100  Setaria.italica (KF646538.1)    6407  T  -  C  -  C         Mixed
3101  Setaria.italica (KF646538.1)    6410  G  -  C  -  C         Mixed
3102  Setaria.italica (KF646538.1)   14424  G  -  A  -  A         Mixed
3103  Setaria.italica (KF646538.1)   14667  -  A  A  A  A      Deletion
3104  Setaria.italica (KF646538.1)   14668  -  A  A  A  A      Deletion
3105  Setaria.italica (KF646538.1)   18790  G  -  A  -  A         Mixed
3106  Setaria.italica (KF646538.1)   38962  A  T  T  T  T  Substitution
3107  Setaria.italica (KF646538.1)   44605  T  C  C  C  C  Substitution
3108  Setaria.italica (KF646538.1)   47046  C  -  -  -  -     Insertion
3109  Setaria.italica (KF646538.1)   47047  A  -  -  -  -     Insertion
3110  Setaria.italica (KF646538.1)   47048  T  -  -  -  -     Insertion
3111  Setaria.italica (KF646538.1)   47049  A  -  -  -  -     Insertion
3112  Setaria.italica (KF646538.1)   47050  C  -  -  -  -     Insertion
3113  Setaria.italica (KF646538.1)   49563  C  A  A  A  A  Substitution
3114  Setaria.italica (KF646538.1)   53437  C  A  -  A  -         Mixed
3115  Setaria.italica (KF646538.1)   57534  T  -  -  -  -     Insertion
3116  Setaria.italica (KF646538.1)   59412  C  -  T  -  T         Mixed
3117  Setaria.italica (KF646538.1)   68544  T  -  -  -  -     Insertion
3118  Setaria.italica (KF646538.1)   71685  -  G  G  G  G      Deletion
3119  Setaria.italica (KF646538.1)   71686  -  G  A  G  A         Mixed
3120  Setaria.italica (KF646538.1)   71689  -  A  T  A  T         Mixed
3121  Setaria.italica (KF646538.1)   71690  -  G  A  G  A         Mixed
3122  Setaria.italica (KF646538.1)   71691  -  T  T  T  T      Deletion
3123  Setaria.italica (KF646538.1)   71692  -  G  G  G  G      Deletion
3124  Setaria.italica (KF646538.1)   71693  -  T  T  T  T      Deletion
3125  Setaria.italica (KF646538.1)   71694  -  A  A  A  A      Deletion
3126  Setaria.italica (KF646538.1)   71695  -  T  T  T  T      Deletion
3127  Setaria.italica (KF646538.1)   73348  A  G  G  G  G  Substitution
3128  Setaria.italica (KF646538.1)   80764  T  C  C  C  C  Substitution
3129  Setaria.italica (KF646538.1)   81413  G  T  T  T  T  Substitution
3130  Setaria.italica (KF646538.1)   85237  A  G  G  G  G  Substitution
3131  Setaria.italica (KF646538.1)  113698  G  -  T  -  T         Mixed
3132  Setaria.italica (KF646538.1)  115871  A  -  T  -  T         Mixed

     Single/Multi
3099       Single
3100       Single
3101       Single
3102       Single
3103        Multi
3104        Multi
3105       Single
3106       Single
3107       Single
3108        Multi
3109        Multi
3110        Multi
3111        Multi
3112        Multi
3113       Single
3114       Single
3115       Single
3116       Single
3117       Single
3118        Multi
3119        Multi
3120        Multi
3121        Multi
3122        Multi
3123        Multi
3124        Multi
3125        Multi
3126        Multi
3127       Single
3128       Single
3129       Single
3130       Single
3131       Single
3132       Single
                                 0       1  2  3  4  5  6  7  8  9 10 11  \
3133  Setaria.viridis (KT289405.1)    1444  A  -  -  -  -  -  -  -  -  -
3134  Setaria.viridis (KT289405.1)    4144  -  A  A  A  A  A  A  A  A  A
3135  Setaria.viridis (KT289405.1)    4145  -  T  T  T  T  T  T  T  T  T
3136  Setaria.viridis (KT289405.1)    4146  -  T  T  T  T  T  T  T  T  T
3137  Setaria.viridis (KT289405.1)    4147  -  T  T  T  T  T  T  T  T  T
...                            ...     ... .. .. .. .. .. .. .. .. .. ..
4226  Setaria.viridis (KT289405.1)  113697  -  C  C  C  C  C  C  C  C  C
4227  Setaria.viridis (KT289405.1)  113698  -  G  G  T  G  G  G  G  G  T
4228  Setaria.viridis (KT289405.1)  115871  -  A  A  T  A  A  A  A  A  T
4229  Setaria.viridis (KT289405.1)  115872  -  A  A  A  A  A  A  A  A  A
4230  Setaria.viridis (KT289405.1)  116652  A  T  T  T  T  T  T  T  T  T

         Operation Single/Multi
3133     Insertion       Single
3134      Deletion        Multi
3135      Deletion        Multi
3136      Deletion        Multi
3137      Deletion        Multi
...            ...          ...
4226      Deletion        Multi
4227         Mixed        Multi
4228         Mixed        Multi
4229      Deletion        Multi
4230  Substitution       Single

[1098 rows x 14 columns]